:root {
    --primary-background-color: #DEF2F1;
--secondary-background-color: #2B7A78;
--light-color: #FFDEAD;
--font-color: white;
--font-size-md: 2rem;
--font-size-lsm: 1.7rem;
--font-size-sm: 1.6rem;
--gap: 2rem
}

/*Resuable classes*/

.container {
align-items: normal;
}

/* Base Styles */
* {
margin: 0;
padding: 0;
}

html {
font-size: 12px;
}

body {
font-size: var(--font-size-sm);
background-color: var(--primary-background-color);
}

a {
text-decoration: none;
color: inherit;
}

a:hover {
color: mintcream;
}

ul {
list-style: none;
}

li {
padding-left: 2rem;
margin: auto;
font-size: var(--font-size-sm);
}

img {
display: none;
width: 50%;
margin-left: auto;
margin-right: auto;
}

section {
padding: 2rem;
}

p {
font-size: var(--font-size-sm);
font-family: serif;
line-height: 2;
white-space: pre;
padding: 0;
}

table {
/*float: left;*/
margin: 0px;
padding: 15px;
}

th, td {
border: 1px solid black;
}

button {
font-size: var(--font-size-sm);
/*font-weight: bold;*/

/*width: 30%;*/
margin: auto;
/* text-align: center; */
padding: 2rem;
background-color: #17252A;
color: var(--font-color);
border: none;
outline: none;
border-radius: 20px;
cursor: pointer;
}

h3 {
font-size: var(--font-size-lsm);
}

footer {
position: absolute;
padding: 2.5rem;
color: var(--font-color);
width: 100%;
background: var(--secondary-background-color);
text-align: center;
}


/* Header */
.navbar {
display: flex;
align-content: center;
justify-content: space-between;
padding-block: 1.5rem;

background-color: var(--secondary-background-color);
color: var(--font-color);
}

.link-list > a:hover {
color: black;
}

.logo {
padding-left: 5rem;
}

.logo-span {
color: peru;
}

.menu {
align-items: center;
padding-right: 5rem;
}

.menu-list {
display: flex;
gap: var(--gap);
}

/* Index Page - Navbar and Section */

.section-description {
min-height: 500px;
}

.nav-sims-options, section-description {
float: left;
padding: 20px;
min-height: 500px;
}

.nav-sims {
padding: 2rem;
height: 100%;
}

.main-sim-options-span {
font-weight: bold;
font-size: var(--font-size-lsm);
}

/* Battery Cell Simulation Table Pages - Parameter values and Plots */

.parameter_names {
text-align: left;
}

.span_param_name {
font-weight: bold;
}

/* Simulation plots related */

.plots {
max-width: calc(100% - 616px);
flex-grow: 1;
display: flex;
justify-content: center;
flex-direction: row;
flex-wrap: wrap;
padding-bottom: 2.5rem;
}

div[id^="id_chart"] {
width: 500px;
height: 500px;
}

@media (max-width: 1100px){
.flex_container {
    flex-direction: column;
}
.container {
    align-items: center;
}
.plots {
    flex-direction: column;
    max-width: 100%;
}
}