<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% load static %}
    <title>BMSSim | Home</title>
    <link
      rel="shortcut icon"
      href="{% static 'favicon.png' %}"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <header>
      <nav class="navbar container">
        <!--            logo-->
        <a href="{% url 'cell_sim:index' %}">
          <h2 class="logo"><span class="logo-span">BMS</span>Sim</h2>
        </a>

        <!--            Webpage Name Title-->
        <h1>Dashboard</h1>

        <!--            Menu-->
        <div class="menu">
          <ul class="menu-list">
            <li class="link-list">
              <a href="{% url 'cell_sim:index' %}">
                <span class="menu-texts-span">Home</span>
              </a>
            </li>
            <li class="link-list">
              <a href="">
                <span class="menu-texts-span">About</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <nav class="nav-sims-options">
      <ul class="ul-sims-options">
        <li>
          <span class="main-sim-options-span"
            >Application Dynamics Simulation</span
          >
        </li>
        <li>
          <a
            href=""
            onmouseover="describe(this, underConstructionHeading, underConstructionDescription)"
            onmouseout="normalDescription(this)"
            >Electric Vehicles</a
          >
        </li>
        <li>
          <a
            href=""
            onmouseover="describe(this, underConstructionHeading, underConstructionDescription)"
            onmouseout="normalDescription(this)"
            >Electric Bikes</a
          >
        </li>
        <li>
          <a
            href=""
            onmouseover="describe(this, underConstructionHeading, underConstructionDescription)"
            onmouseout="normalDescription(this)"
            >Stationary Energy Storage System</a
          >
        </li>

        <li>
          <span class="main-sim-options-span">Battery Cell Simulations</span>
        </li>
        <li>
          <a
            href="{}"
            onmouseover="describe(this, underConstructionHeading, underConstructionDescription)"
            onmouseout="normalDescription(this)"
            >Equivalent Circuit Model</a
          >
        </li>
        <li>
          <a
            href=""
            onmouseover="describe(this, spHeading, spDescription, true)"
            onmouseout="normalDescription(this)"
            >Single Particle Model</a
          >
        </li>
        <li>
          <a
            href=""
            onmouseover="describe(this, underConstructionHeading, underConstructionDescription)"
            onmouseout="normalDescription(this)"
            >Enhanced Single Particle Model</a
          >
        </li>
        <li>
          <a
            href=""
            onmouseover="describe(this, underConstructionHeading, underConstructionDescription)"
            onmouseout="normalDescription(this)"
            >Pseudo Two Dimensional Model</a
          >
        </li>

        <li><span class="main-sim-options-span">Insights</span></li>
        <li>
          <a
            href=""
            onmouseover="describe(this, underConstructionHeading, underConstructionDescription)"
            onmouseout="normalDescription(this)"
            >Range Estimations</a
          >
        </li>
        <li>
          <a
            href=""
            onmouseover="describe(this, underConstructionHeading, underConstructionDescription)"
            onmouseout="normalDescription(this)"
            >Life Cycle Estimations</a
          >
        </li>

        <li>
          <span class="main-sim-options-span"
            >Battery Management System Monitoring</span
          >
        </li>
        <li>
          <a
            href=""
            onmouseover="describe(this, underConstructionHeading, underConstructionDescription)"
            onmouseout="normalDescription(this)"
            >SOC Estimations with Kalman Filter</a
          >
        </li>
        <li>
          <a
            href=""
            onmouseover="describe(this, underConstructionHeading, underConstructionDescription)"
            onmouseout="normalDescription(this)"
            >SOH Estimations with Kalman Filter</a
          >
        </li>
        <li>
          <a
            href=""
            onmouseover="describe(this, underConstructionHeading, underConstructionDescription)"
            onmouseout="normalDescription(this)"
            >Potential Fault Detection</a
          >
        </li>
      </ul>
    </nav>

    <!--    Section - Description-->
    <section class="section section-description">
      <h2>Description</h2>
      <h3 id="id_h3_description"></h3>
      <p id="id_p_description"></p>

      <img id="id_img" src="{% static 'img.png' %}" alt="" />
    </section>

    <!--    Footer-->
    <footer>
      <h3>Copyright BMSSim 2023. All Rights Reserved.</h3>
    </footer>

    <!--JS-->
    <script src="{% static 'index.js' %}"></script>
  </body>
</html>
